/**********/
/* Common */
/**********/
/* Global Reset */
* {
    margin: 0;
    padding: 0;
}

html, body { height: 100%; }

body {
    background-color: #FFF;
    font: 13.34px Helvetica, Arial, sans-serif;
    font-size: small;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

table {
    font-size: inherit;
    font: 100%;
}

/* Site layout */
body {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}
header {
    background-color: #00A2DB;
    color: #FEFEFE;
}
header .container {
    max-width: 900px;
    height: 74px;
    padding: 20px 10px;
    margin: 0 auto;
}
header .container h1 {
    float: left;
}
header .container h1 a {
    display: block;
    width: 140px;
    height: 74px;
}
header .container h1 a img {
    max-height: 100%;
}
header .container p {
    float: right;
    font-weight: 200;
    font-size: 1.7em;
}

/* Project list */
#projects {
    width: 900px;
    margin: 0 auto;
    padding: 0 10px;
}
#projects h2 {
    font-size: 4em;
    font-weight: 200;
    color: #00A2DB;
    margin-top: 50px;
    margin-bottom: -20px;
}

.project {
    padding: 20px 0;
    margin-top: 20px;
}
.project img {
    float: right;
    width: 550px;
    margin-left: 30px;
}
.project h3 {
    font-weight: 300;
    font-size: 2.7em;
    margin-top: 20px;
}
.project h3 a {
    text-decoration: none;
    color: #333333;
}
.project h3 a:hover {
    color: #00A2DB;
}
.project p.subtitle {
    margin-top: 0;
    font-weight: 200;
    font-style: italic;
    font-size: 1.2em;
}
.project .description {
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.6;
}
