/**********/
/* Common */
/**********/
/* Global Reset */
* {
    margin: 0;
    padding: 0;
}

html, body { height: 100%; }

body {
    background-color: #FFF;
    font: 13.34px Helvetica, Arial, sans-serif;
    font-size: small;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

table {
    font-size: inherit;
    font: 100%;
}

/* Site layout */
header {
    background-color: #0197CC;
    color: #FEFEFE;
}
header .container {
    max-width: 800px;
    height: 74px;
    padding: 20px 0;
    margin: 0 auto;
}
header .container h1 {
    float: left;
}
header .container h1 a {
    display: block;
    width: 140px;
    height: 74px;
}
header .container h1 a img {
    max-height: 100%;
}
header .container p {
    float: right;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 1.7em;
}

/* Code layout */
.post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
}

.post ul, .post ol {
    margin-left: 1.35em;
}

.post code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2em;
}

.post pre code {
    border: none;
}

/* terminal */
.post pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
}

.post pre.terminal code {
    background-color: #333;
}
