---
layout: default
title: ribot cogs
---

<div id="projects">
    {% if site.categories.android %}
        <h2>Android</h2>
        {% for post in site.categories.android %}
            <div class="project">
                <a href="{{ post.project-url }}"><img src="img/projects/{{ post.project-id }}.png" alt="{{ post.title }}" /></a>
                <div class="content">
                <h3><a href="{{ post.project-url }}">{{ post.title }}</a></h3>
                <p class="subtitle">{{ post.subtitle }}</p>
                <div class="description">
                    {{ post.content }}
                </div>
                <div style="clear:both;"></div>
            </div>
        {% endfor %}
    {% endif %}
</div>