<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0">

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,200italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <div class="container">
            <h1><a href="/"><img src="/img/logo_white_retina.png" alt="ribot" /></a></h1>
            <nav>
                <ul>
                    <li><a href="http://github.com/ribot/"><i class="fa fa-github" alt="github" title="github"></i></a></li>
                    <li><a href="http://twitter.com/ribot/"><i class="fa fa-twitter" alt="twitter" title="twitter"></i></a></li>
                    <li><a href="http://ribot.co.uk">ribot.co.uk</a></li>
                </ul>
            </nav>
            <p>Open Source Software from a Digital Design Studio</p>
        </div>
    </header>

    {{ content }}
</body>
</html>
